.search-form { background: var(--light-theme-elements); }
.dark .search-form { background: var(--dark-theme-elements); }

.search-form input { color: var(--light-theme-text); background: var(--light-theme-elements); }
.dark .search-form input { color: var(--dark-theme-text); background: var(--dark-theme-elements); }

.search-form input::placeholder { color: var(--light-theme-text); }
.dark .search-form input::placeholder { color: var(--dark-theme-text); }