@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { font-size: 14px; min-height: 100%; margin: 0; padding: 0; }
body { height: 100%; }
#root { min-height: 100vh; }

:root {
  /* Light Theme */
  --light-theme-text: hsl(200, 15%, 8%);
  --light-theme-background: hsl(0, 0%, 98%);
  --light-theme-input: hsl(0, 0%, 52%);
  --light-theme-elements: hsl(0, 0%, 100%);

  /* Dark Theme */ 
  --dark-theme-text: hsl(0, 0%, 100%);
  --dark-theme-background: hsl(207, 26%, 17%);
  --dark-theme-input: hsl(0, 0%, 52%);
  --dark-theme-elements: hsl(209, 23%, 22%);
}

.attribution { font-size: 11px; }
.attribution a { color: var(--light-theme-input); }
.attribution a:hover { text-decoration: underline; }

.dark .attribution { color: #fff; }
.dark .attribution a { color: var(--dark-theme-input); }

main { color: var(--light-theme-text); background: var(--light-theme-background); }
main.dark { color: var(--dark-theme-text); background-color: var(--dark-theme-background); }
